<h1>Welcome to Recent Tweets 1</h1>

<div id="user" data-screen-name="<%= @user.screen_name %>">
  <h2> Tweets For: <%= @user.screen_name %></h2>
  <div id="loader"></div>
  <ul>
    <% @tweets.each do |tweet| %>
      <li><%= tweet.content %></li>
    <% end %>
  </ul>
</div>
